.node text.leaf {
  text-anchor: start
}

.node text.internal {
  text-anchor: end
}

.node circle {
  stroke: steelblue;
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node.internal circle {
  fill: #555;
}

.node.internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.link.link-red {
  stroke: red;
}

.link.link-green {
  stroke: green;
}

.node circle.ghost.disabled {
  display: none;
}

.node circle.ghost {
  opacity: 0.4;
  fill: red;
  pointer-events: "mouseover";
}

.node circle.ghost.hover {
  opacity: 0.8;
  fill: green;
  pointer-events: "mouseover";
}

.editBox {
    position: absolute;
    border: 3px solid rgb(252,101,18);
    margin-left: 8px;
    margin-top: -11px;
    height: 20px
}
