#main {
  overflow: visible;
	border: 1px solid purple;
}

.form-control {
  &.data-panel {
    height: 600px;
  }

  &.edit-popup {
    z-index: 1000;
    width: 300px;
  }
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #3498DB;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
