.my-carousel {
  position: relative;
  width: 100%;
}

.my-carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.my-carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.my-carousel-inner > .item > img,
.my-carousel-inner > .item > a > img {
  line-height: 1;
}
/*@media all and (transform-3d), (-webkit-transform-3d) {
  .my-carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .my-carousel-inner > .item.next,
  .my-carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .my-carousel-inner > .item.prev,
  .my-carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .my-carousel-inner > .item.next.left,
  .my-carousel-inner > .item.prev.right,
  .my-carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}*/
.my-carousel-inner > .active,
.my-carousel-inner > .next,
.my-carousel-inner > .prev {
  display: block;
}
.my-carousel-inner > .active {
  left: 0;
}
.my-carousel-inner > .next,
.my-carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.my-carousel-inner > .next {
  left: 100%;
}
.my-carousel-inner > .prev {
  left: -100%;
}
.my-carousel-inner > .next.left,
.my-carousel-inner > .prev.right {
  left: 0;
}
.my-carousel-inner > .active.left {
  left: -100%;
}
.my-carousel-inner > .active.right {
  left: 100%;
}
.my-carousel-control {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
  position: absolute;
  width: 100%;
}
.my-carousel-control.left {
  top: 0;
  background-image:         linear-gradient(to top, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
}

.my-carousel-control.right {
  bottom: 0;
  /*left: auto;*/
  /*background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));*/
  background-image:         linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;*/
}
.my-carousel-control:hover,
.my-carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.my-carousel-control .glyphicon-chevron-up,
.my-carousel-control .glyphicon-chevron-down {
  z-index: 5;
  display: block;
  width: 15px;
  margin: auto;
}

.my-carousel img {
  width: 100px;
}
