.my-carousel {
  position: relative;
}

.my-carousel-inner {
  height: 100%;
  overflow: hidden;
}
.my-carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out bottom;
       -o-transition: .6s ease-in-out bottom;
          transition: .6s ease-in-out bottom;
}
.my-carousel-inner > .item > img,
.my-carousel-inner > .item > a > img {
  height: 100px;
}

.my-carousel-inner > .active,
.my-carousel-inner > .next,
.my-carousel-inner > .prev {
  display: block;
}
.my-carousel-inner > .active {
  bottom: 0;
}
.my-carousel-inner > .next,
.my-carousel-inner > .prev {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.my-carousel-inner > .next {
  bottom: 100%
}
.my-carousel-inner > .prev {
  bottom: -100%
}
.my-carousel-inner > .next.up,
.my-carousel-inner > .prev.down {
  bottom: 0
}
.my-carousel-inner > .active.up {
  bottom: -100%;
}
.my-carousel-inner > .active.down {
  bottom: 100%;
}

/*SHIT STOPS MATTERING HERE*/
.my-carousel-control {
  font-size: 20px;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
  position: absolute;
  width: 100%;
  opacity: 0.9;
}
.my-carousel-control.up {
  top: 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(top, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:         linear-gradient(to top, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
}

.my-carousel-control.down {
  bottom: 0;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(bottom, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:         linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
}
.my-carousel-control:hover,
.my-carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.my-carousel-control .glyphicon-chevron-up,
.my-carousel-control .glyphicon-chevron-down {
  z-index: 5;
  display: block;
  width: 15px;
  margin: auto;
}
