.edit {
  position: absolute;
  border: 3px solid rgb(252,101,18);
  z-index: 1;
}

form.edit {
  background-color: lightblue;
}

.edit.box {
  margin-left: 8px;
  margin-top: -11px;
  height: 20px;
}

.hide {
  display: none;
}

.panel-action {
    padding: 5px;
    text-align: center;
}

.details {
    width: 90%;
}

.details ul {
    padding: 0 20px;
}

.details ul li {
    margin-left: 0px;
}

.panel-heading input {
    margin: -7px -12px;
}
