.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  z-index: 2;
}

.node text {
  font-size:10px;
  font-family:sans-serif;
}

.node text.leaf {
  text-anchor: start
}

.node text.internal {
  text-anchor: end
}

.node circle.selected {
  stroke-width: 6px;
}

.node text {
  font: 10px sans-serif;
}

.node.internal circle {
  fill: #555;
}

.node.internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.link.link-red {
  stroke: red;
}

.link.link-green {
  stroke: green;
}

.node circle.ghost.disabled {
  display: none;
}

.node circle.ghost {
  opacity: 0.4;
  fill: red;
  pointer-events: "mouseover";
}

.node circle.ghost.hover {
  opacity: 0.8;
  fill: green;
  pointer-events: "mouseover";
}
